<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
</head>
<body>
    <div>Microblog: 
        <a href="{{ url_for('index') }}">Home</a>
        <!-- current_user.is_anonymous expression is going to be True only when the user is not logged in -->
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    <!-- flash messages list seted with the method flash() -->
    <!-- with construct to assign the result of calling get_flashed_messages() to a messages variable -->
    <!-- once the message is flashed, it is removed from the list -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- define where the derived templates can insert themselves -->
    <!-- content has to be unique -->
    {% block content %} {% endblock %}
</body>
</html>