{% extends "base.html" %} {% block content %}
<q-page>
  <div class="q-pa-md row justify-center q-gutter-md">
    <div class="col-auto">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h4">Sign In</div>
          <!-- novalidate attribute is used to tell the web browser to not apply validation to the fields in this form -->
          <form class="q-pa-md" action="" method="post" novalidate>
            <!-- form.hidden_tag() template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks -->
            {{ form.hidden_tag() }}
            <p>
              {{ form.username.label }}<br />
              {{ form.username(size=32) }} {% for error in form.username.errors
              %}
              <span style="color: red">{{ error }}</span>
              {% endfor %}
            </p>
            <p>
              {{ form.password.label }}<br />
              {{ form.password(size=32) }} {% for error in form.password.errors
              %}
              <span style="color: red">{{ error }}</span>
              {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <div>
              <q-btn label="Login" type="submit" color="primary" />
            </div>
          </form>
          <p>
            New user? <a href="{{ url_for('register') }}">Click to register!</a>
          </p>
        </q-card-section>
      </q-card>
    </div>
  </div>
</q-page>
{% endblock %}
