{% extends "base.html" %} {% block content %}
<q-page>
  <div class="q-pa-md row justify-center q-gutter-md">
    <div class="col-auto">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h4">Register</div>
          <form class="q-pa-md" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
              {{ form.username.label }}<br />
              {{ form.username(size=32) }}<br />
              {% for error in form.username.errors %}
              <span style="color: red">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.email.label }}<br />
              {{ form.email(size=32) }}<br />
              {% for error in form.email.errors %}
              <span style="color: red">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.password.label }}<br />
              {{ form.password(size=32) }}<br />
              {% for error in form.password.errors %}
              <span style="color: red">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.password2.label }}<br />
              {{ form.password2(size=32) }}<br />
              {% for error in form.password2.errors %}
              <span style="color: red">[{{ error }}]</span>
              {% endfor %}
            </p>
            <div>
              <q-btn label="Register" type="submit" color="primary" />
            </div>
          </form>
        </q-card-section>
      </q-card>
    </div>
  </div>
</q-page>
{% endblock %}
